<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- oracle null 처리 -->
<!-- 
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.project.corona.vo.ApplyVO" alias="ApplyVO" />
		<typeAlias type="com.project.corona.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="com.project.corona.vo.BookmarkVO" alias="BookmarkVO" />
		<typeAlias type="com.project.corona.vo.CategoryVO" alias="CategoryVO" />
		<typeAlias type="com.project.corona.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.project.corona.vo.NoteVO" alias="NoteVO" />
		<typeAlias type="com.project.corona.vo.NoticeVO" alias="NoticeVO" />
		<typeAlias type="com.project.corona.vo.ReplyVO" alias="ReplyVO" />
		<typeAlias type="com.project.corona.vo.VolunteerVO" alias="VolunteerVO" />
		<typeAlias type="com.project.corona.vo.ImageVO" alias="ImageVO" />
		<typeAlias type="com.project.corona.vo.FileVO" alias="FileVO" />
	</typeAliases>
	
</configuration>
