<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		  
<mapper namespace="com.project.corona.mapper.NewsMapper">

	<resultMap type="BoardVO" id="BoardMap">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<result column="board_count" property="boardCount"/>
		<result column="board_regdate" property="boardRegdate"/>
		<result column="board_deleted" property="boardDeleted"/>
		<result column="board_reco" property="boardReco"/>
		<result column="board_nreco" property="boardNreco"/>
		<result column="board_tag" property="boardTag"/>
		<result column="board_singo" property="boardSingo"/>
		<association property="member" column="member_no" resultMap="MemberMap" />
	</resultMap>
	<resultMap type="MemberVO" id="MemberMap">
		<id column="member_no" property="memberNo"/>
		<result column="member_nickname" property="memberNickname"/>
	</resultMap>

	<!-- <select id="selectNewsList" resultMap="BoardMap">
		SELECT b.board_no, b.board_title, b.board_count, b.board_regdate, b.board_reco, b.member_no, m.member_nickname
		  FROM BOARD b
	INNER JOIN MEMBER m
			ON b.member_no = m.member_no
		 WHERE b.cat_no = 0 
		   AND b.board_deleted = 0;
	</select> -->
	
	<select id="selectNewsList" resultType="NewsVO">
		SELECT news_no, news_title, news_link, news_content
		  FROM NEWS
	</select>
	
	<!-- <insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARD (member_no, board_title, board_content, board_tag, cat_no)
		VALUES (#{memberNo}, #{boardTitle}, #{boardContent}, #{boardTag}, #{catNo})
	</insert> -->
	
	<select id="selectBoardByBno" parameterType="int" resultType="NewsVO">
		SELECT news_no, news_title, news_link, news_content 
		  FROM NEWS
		 WHERE news_no = #{ bno }
	</select>
	
</mapper>