<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.corona.mapper.VolunteerMapper">

	<resultMap type="BoardVO" id="BoardMap">
		<id property="boardNo" column="board_no" />
		<result property="boardTitle" column="board_title" />
		<result property="boardContent" column="board_content" />
		<result property="boardCount" column="board_count" />
		<result property="boardRegdate" column="board_regdate" />
		<result property="boardDeleted" column="board_deleted" />
		<result property="memberNo" column="member_no" />
		<result property="catNo" column="cat_no" />
		<result property="boardReco" column="board_reco" />
		<result property="boardNreco" column="board_nreco" />
		<result property="boardTag" column="board_tag" />
		<result property="boardSingo" column="board_singo" />
		<association property="volunteers" javaType="VolunteerVO">
			<id property="volNo" column="vol_no" />
			<result property="volLocation" column="vol_location" />
			<result property="volConfirm" column="vol_confirm" />
			<result property="volDuedate" column="vol_duedate" />
			<result property="volWdate1" column="vol_wdate1" />
			<result property="volWdate2" column="vol_wdate2" />
			<result property="volLocation2" column="vol_location2" />
			<result property="volLocshort" column="vol_locshort" />
		</association>
		<association property="member" column="member_no" resultMap="MemberMap" />
	</resultMap>
	<resultMap type="MemberVO" id="MemberMap">
		<id column="member_no" property="memberNo"/>
		<result column="member_nickname" property="memberNickname"/>
	</resultMap>
	
	<select id="selectBoardList" resultMap="BoardMap">
		SELECT b.board_no, b.board_title, b.cat_no, b.member_no, v.vol_no, v.vol_locshort, v.vol_confirm, v.vol_duedate, m.member_nickname 
		FROM BOARD b
		INNER JOIN VOLUNTEER v
		ON b.BOARD_NO = v.VOL_NO
		INNER JOIN MEMBER m
		ON b.MEMBER_NO = m.MEMBER_NO
		WHERE b.CAT_NO = 1 AND b.BOARD_DELETED = 0
	</select>
	
	<select id="countApplyByBoardNo" parameterType="int" resultType="int">
		SELECT count(vol_no)
		FROM APPLY
		WHERE vol_no = #{boardNo}
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO BOARD (member_no, board_title, board_content, cat_no)
		VALUES (#{memberNo}, #{boardTitle}, #{boardContent}, 1)
	</insert>
	<insert id="insertVolunteer" parameterType="VolunteerVO">
		INSERT INTO VOLUNTEER (vol_no, vol_location, vol_duedate, vol_wdate1, vol_wdate2, vol_location2, vol_locshort)
		VALUES (#{volNo}, #{volLocation}, #{volDuedate}, #{volWdate1}, #{volWdate2}, #{volLocation2}, #{volLocshort}) 
	</insert>
	
	<select id="selectBoardListByBoardNo" parameterType="int" resultMap="BoardMap">
		SELECT b.board_no, b.board_title, b.board_content, b.cat_no, b.member_no, v.vol_no, v.vol_location, v.vol_location2, v.vol_locshort, v.vol_confirm, v.vol_duedate, v.vol_wdate1, v.vol_wdate2, m.member_nickname
		FROM BOARD b
		INNER JOIN VOLUNTEER v
		ON b.BOARD_NO = v.VOL_NO
		INNER JOIN MEMBER m
		ON b.MEMBER_NO = m.MEMBER_NO
		WHERE b.BOARD_NO = #{boardNo}
	</select>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD
		SET board_deleted = 1
		WHERE board_no = #{boardNo}
	</update>
	
	<insert id="insertApply" parameterType="ApplyVO">
		INSERT INTO APPLY (apply_id, apply_phone, apply_birth, member_no, vol_no)
		VALUES (#{applyId}, #{applyPhone}, #{applyBirth}, #{memberNo}, #{volNo})
	</insert>
<!-- 	
	<resultMap type="VolunteerVO" id="VolunteerMap">
		<id property="volNo" column="vol_no" />
		<result property="volLocation" column="vol_location" />
		<result property="volConfirm" column="vol_confirm" />
		<result property="volDuedate" column="vol_duedate" />
		<result property="volWdate1" column="vol_wdate1" />
		<result property="volWdate2" column="vol_wdate2" />
		<result property="volLocation2" column="vol_location2" />
		<result property="volLocshort" column="vol_locshort" />		
		<collection property="applies" column="applyNo" resultMap="ApplyMap" />
	</resultMap>
	<resultMap type="ApplyVO" id="ApplyMap">
		<id property="applyNo" column="apply_no" />
		<result property="applyId" column="apply_id" />
		<result property="applyPhone" column="apply_phone"/>
		<result property="applyBirth" column="apply_birth"/>
		<result property="memberNo" column="member_no" />
		<result property="volNo" column="vol_no" />
	</resultMap>
	<select id="selectApplyByBoardNo" parameterType="int" resultMap="VolunteerMap">
		SELECT *
		FROM VOLUNTEER v
		INNER JOIN APPLY a
		ON v.VOL_NO = a.VOL_NO
		WHERE v.VOL_NO = #{volNo};
	</select>
 -->	
 	<select id="selectApplyByBoardNo" parameterType="int" resultType="ApplyVO">
 		SELECT *
 		FROM APPLY
 		WHERE vol_no = #{volNo};
 	</select>

  	<insert id="insertImage" parameterType="ImageVO">
 		INSERT INTO IMAGE (board_no, image_path, image_real, image_size)
 		VALUES (#{boardNo}, #{imagePath}, #{imageReal}, #{imageSize})
 	</insert>
 	
 	<insert id="insertFile" parameterType="FileVO">
 		INSERT INTO FILE (board_no, file_path, file_real, file_size)
 		VALUES (#{boardNo}, #{filePath}, #{fileReal}, #{fileSize})
 	</insert>
 	 	
	<select id="selectImageByBoardNo" parameterType="int" resultType="ImageVO">
 		SELECT *
 		FROM IMAGE
 		WHERE board_no = #{boardNo};
 	</select>
 	
	<select id="selectFileByBoardNo" parameterType="int" resultType="FileVO">
 		SELECT *
 		FROM FILE
 		WHERE board_no = #{boardNo};
 	</select>
 
 	<update id="updateBoard" parameterType="BoardVO">
		UPDATE BOARD
		SET board_title = #{boardTitle}, board_content = #{boardContent} 
		WHERE board_no = #{boardNo} 	
 	</update>
 	
 	<update id="updateVolunteer" parameterType="VolunteerVO">
		UPDATE VOLUNTEER
		SET vol_location = #{volLocation}, vol_duedate = #{volDuedate}, vol_wdate1 = #{volWdate1}, vol_wdate2 = #{volWdate2}, vol_location2 = #{volLocation2}, vol_locshort = #{volLocshort}
		WHERE vol_no = #{volNo} 	
 	</update>
 	
 	<delete id="deleteImage" parameterType="int">
 		DELETE FROM IMAGE
 		WHERE board_no = #{boardNo};
 	</delete>
 	
	<delete id="deleteFile" parameterType="int">
 		DELETE FROM FILE
 		WHERE board_no = #{boardNo};
 	</delete>
 	
</mapper>